<h1>Ivan the Terrible's Blog</h1>

<% cache do %>
<div class='apple_pagination'>
  <%= will_paginate @posts %>
  <div class = 'page_info'
    <section class="blog">
      <%= render @posts %>
    </section>
  </div>
</div>
<% end %>
<br />

<%= link_to 'New Post', new_post_path %>
